.cover{
	vertical-align: middle;
}

html, body, .container, .row, .cover{
	height: 100%;
}

.center{
	vertical-align: middle;
}

.display-table{
	display: table;
}

body {
	background-color: #333;
	color: white;
}