.cover{
	vertical-align: middle;
	display: table-cell;
}

html, body, .display-table{
	height: 100%;
}

.display-table{
	width: 100%;
}

.center{
	vertical-align: middle;
}

.display-table{
	display: table;
}

body {
	background-color: #333;
	color: white;
}
.center{
	text-align: center;
}
.h-button{
	width: 50px;
	font-size 25px;
}