<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Milestone1</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
     <link href="/css/styles.css" rel="stylesheet">
</head>

<body>

    <div class="display-table">
        <div class="cover">
            
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h3>The H-game</h3>
                        <p>Nickname: <%= nick %></p>
                        <p>Score: <div class="score">0</div></p>

                        <div class="h-button btn btn-primary">H</div>

                        <form action="/game" method="post" class="control-form">
                          <input type="hidden" name="nick" value="<%= nick %>">
                          <input type="hidden" class="score-form" name="score" value="0">
                          <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script type="text/javascript">
          $(document).ready(function(){
            var score = 0;
            $('.h-button').click(function(){
                score++;
                $('.score').html(score);
                $('.score-from').val(score);
            });
          });
      </script> 

</body>
</html>
