<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Milestone1</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!-- <link href="/css/styles.css" rel="stylesheet"> -->
</head>

<body>

<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Cover your page.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

<!--
    <div class="container">
        <div class="header clearfix">
            <div class="row">
                <div class="col-xs-6">
                    <div class="pull-left"><a href="/index.html" ><img src="/images/logo.svg" class="logo"></a></div>
                </div>
                <div class="col-xs-6">
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="/index.html">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="title-section">
                <div>
                    
                <h1>Blog</h1>
                    <div style="float:right"><a href="/new">new post</a></div>
                </div>
            </div>
        </div>
       
    </div>
        <footer class="footer">
            <div class="container">
                <div class="row top-row">
            		<div class="col-sm-6">
                		<ul class="nav nav-pills pull-left">
                            <li><a href="/index.html">Blog</a></li>
                        </ul>
            		</div>
                    <div class="col-sm-6 social">
                        <img src="/images/twitter.svg">
                        <img src="/images/facebook.svg">
                        <img src="/images/instagram.svg">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row bottom-row">
                    &copy; 2016 Company, Inc.
                </div>
            </div>
        </footer>
    <!- - /container -->
</body>

</html>
